{% extends 'base.html' %}
<style>

</style>
{% block content %}
  <div class="container mt-5">
    <h2 class="text-center">All Departments</h2>
    {% if departments %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Department ID</th>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
          <th scope="col">Created</th>
          <th scope="col">Updated</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for d in departments %}
        <tr>
          <th scope="row">{{ d.department_id }}</th>
          <td>{{ d.name }}</td>
          <td>{{ d.location }}</td>
          <td>{{d.created }}</td>
          <td>{{ d.updated }}</td>
          <td>
            <a href="/department/edit/{{d.pk}}" class="btn btn-primary btn-sm" style="width:80px;">Edit</a>
            <br><br>
            <a href="/department/delete/{{d.pk}}" class="btn btn-danger btn-sm" style="width:80px;">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <center>
      <a href="/department/add" class="btn btn-primary btn-sm">Add Department</a>
    </center>

    {% else %}
      <p class="text-center">
        No departments information found in the system, please add new department.
      </p>
    <br><br>
    <center>
      <a href="/department/add" class="btn btn-primary btn-sm">Add Department</a>
    </center>

    {% endif %}
  </div>
{% endblock %}
