{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">Employee Time sheets</h1>
    {% if timesheets %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th>Employee Name</th>
                <th scope="col">Date</th>
                <th scope="col">Hours Worked</th>
            </tr>
        </thead>
        <tbody>
        {% for timesheet in timesheets %}
            <tr>
                <th scope="row">{{ timesheet.timesheet_id }}</th>
              <th>{{timesheet.employee.first_name}} - {{timesheet.employee.last_name}}</th>
                <td>{{ timesheet.date }}</td>
                <td>{{ timesheet.hours_worked }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4" class="text-center">No time sheets found for this employee.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="text-center">
        No timesheet information found in the system, please add new time sheet.
      </p>
    <br><br>
    <center>
      <a href="/employee/add" class="btn btn-primary btn-sm">Add Employee</a>
    </center>
    {% endif %}
</div>
{% endblock %}
